In [ ]:
!pip install -q kaggle
import json

data = {"username":"tunkedsaro","key":"ff3d00dc680ff94caf6f8d4d9bcd3168"}
json_data = json.dumps(data)

# Write the JSON string to a file
file_path = "/content/kaggle.json"
with open(file_path, 'w') as json_file:
    json_file.write(json_data)

!mkdir ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/ #copy api key ---- depend on your directory -- my directory is .../colab/..
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets list
!kaggle competitions download -c hackathon-online-data-science-mini-epidemiology
!unzip -q /content/hackathon-online-data-science-mini-epidemiology.zip

ref                                                           title                                            size  lastUpdated          downloadCount  voteCount  usabilityRating
------------------------------------------------------------  ----------------------------------------------  -----  -------------------  -------------  ---------  ---------------
patricklford/global-ev-sales-2010-2024                        Global EV Sales: 2010-2024                       83KB  2024-07-19 13:40:22           1873         27  1.0
marius2303/nissan-all-models-price-prediction-dataset         Nissan All Models Price Prediction Dataset      811KB  2024-07-27 11:50:10            912         24  1.0
waqi786/global-air-quality-dataset                            Global Air Quality Dataset üåçüå´Ô∏è                  258KB  2024-07-28 10:35:09           1266         29  1.0
waqi786/1000-richest-people-in-the-world                      1000 Richest People in the World                  8KB  2024-07-28 05:39:38           1102         30  1.0
rabieelkharoua/students-performance-dataset                   üìö Students Performance Dataset üìö                 66KB  2024-06-12 23:09:20          25891        516  1.0
rasikasrimal/covid-19-confirmed-cases                         covid-19 confirmed cases                         30KB  2024-07-18 12:04:09            969         22  1.0
ihelon/coffee-sales                                           Coffee Sales                                     13KB  2024-08-01 07:55:34           8877        143  1.0
nelgiriyewithana/most-streamed-spotify-songs-2024             Most Streamed Spotify Songs 2024                496KB  2024-06-15 18:50:51          18855        372  1.0
waqi786/cars-dataset-2010-2020                                Cars Dataset (2010-2020)                         96KB  2024-07-23 05:49:46           1578         29  1.0
waqi786/titanic-dataset                                       Titanic Dataset                                  41KB  2024-07-25 08:23:03            672         22  1.0
akinduhiman/trending-youtube-videos-2019-to-2020              Trending YouTube Videos 2019 to 2020             26MB  2024-07-24 19:21:40            807         25  1.0
waqi786/mobile-sales-dataset                                  Mobile Sales Dataset üì±                           58KB  2024-07-26 11:03:16           1375         32  1.0
ganjerlawrence/mobile-phone-price-prediction-cleaned-dataset  Mobile Phone Price Prediction cleaned Dataset     5KB  2024-06-30 11:56:32           1634         26  1.0
waqi786/e-commerce-clickstream-and-transaction-dataset        E-commerce Clickstream and Transaction Dataset    1MB  2024-07-24 10:17:49            984         31  1.0
waqi786/movies-dataset-1980-2020                              Movies Dataset (1980-2020)                      645KB  2024-07-22 13:49:26           1601         36  1.0
waqi786/top-intelligent-people-in-the-world                   Top Intelligent People in the World üåçüß†           79KB  2024-07-27 11:36:16            737         29  1.0
harinkl/import-and-export-of-india-2009-2025                  import and export of india 2009-2025            364KB  2024-07-20 04:37:38           1628         27  1.0
waqi786/student-performance-dataset                           üìö Student Performance Dataset üìö                   6KB  2024-07-26 04:24:34           1023         34  1.0
abhayayare/flower-dataset                                     Flower Dataset                                   40KB  2024-07-25 17:58:23            659         23  1.0
wajahat1064/amazon-reviews-data-2023                          Amazon Reviews Data 2023                        271MB  2024-07-25 18:50:12            481         21  1.0
Downloading hackathon-online-data-science-mini-epidemiology.zip to /content
100% 274k/274k [00:00<00:00, 435kB/s]
100% 274k/274k [00:00<00:00, 435kB/s]

In [ ]:
!pip -q install autogluon.tabular

     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 60.4/60.4 kB 3.3 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 312.1/312.1 kB 27.5 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 234.8/234.8 kB 22.3 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 63.4/63.4 kB 5.3 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 64.6/64.6 kB 5.7 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 38.4/38.4 MB 21.5 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 139.2/139.2 kB 10.7 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 12.4/12.4 MB 90.1 MB/s eta 0:00:00
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 82.7/82.7 kB 8.2 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
xgboost 2.1.0 requires nvidia-nccl-cu12; platform_system == "Linux" and platform_machine != "aarch64", which is not installed.
osqp 0.6.7.post0 requires scipy!=1.12.0,>=0.13.2, but you have scipy 1.12.0 which is incompatible.

In [ ]:
from autogluon.tabular import TabularDataset, TabularPredictor
import time
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import numpy as np
import pandas as pd

In [ ]:
train_df = pd.read_csv("/content/Train_set.csv")
test_df = pd.read_csv("/content/Test_set.csv")
submit_df = pd.read_csv("/content/sample_submission.csv")

In [ ]:
train_df = train_df[50:250]
train_df

         _id          Disease  Year    PROVINCE  Week_no  Count
0          1  Hand Foot Mouth  2013     Bangkok        1   62.0
1          2  Hand Foot Mouth  2013     Bangkok        2   95.0
2          3  Hand Foot Mouth  2013     Bangkok        3   88.0
3          4  Hand Foot Mouth  2013     Bangkok        4   86.0
4          5  Hand Foot Mouth  2013     Bangkok        5  132.0
...      ...              ...   ...         ...      ...    ...
32181  32182  Hand Foot Mouth  2020  Narathiwat       48    2.0
32182  32183  Hand Foot Mouth  2020  Narathiwat       49    1.0
32183  32184  Hand Foot Mouth  2020  Narathiwat       50    2.0
32184  32185  Hand Foot Mouth  2020  Narathiwat       51    2.0
32185  32186  Hand Foot Mouth  2020  Narathiwat       52    3.0

[32186 rows x 6 columns]

In [ ]:
test_df = test_df[0:200]
test_df

         _id          Disease  Year    PROVINCE  Week_no
0      32187  Hand Foot Mouth  2021     Bangkok        1
1      32188  Hand Foot Mouth  2021     Bangkok        2
2      32189  Hand Foot Mouth  2021     Bangkok        3
3      32190  Hand Foot Mouth  2021     Bangkok        4
4      32191  Hand Foot Mouth  2021     Bangkok        5
...      ...              ...   ...         ...      ...
11198  43385  Hand Foot Mouth  2023  Narathiwat       37
11199  43386  Hand Foot Mouth  2023  Narathiwat       38
11200  43387  Hand Foot Mouth  2023  Narathiwat       39
11201  43388  Hand Foot Mouth  2023  Narathiwat       40
11202  43389  Hand Foot Mouth  2023  Narathiwat       41

[11203 rows x 5 columns]

In [ ]:
combine_df = pd.concat([train_df, test_df])
combine_df

         _id          Disease  Year    PROVINCE  Week_no  Count
0          1  Hand Foot Mouth  2013     Bangkok        1   62.0
1          2  Hand Foot Mouth  2013     Bangkok        2   95.0
2          3  Hand Foot Mouth  2013     Bangkok        3   88.0
3          4  Hand Foot Mouth  2013     Bangkok        4   86.0
4          5  Hand Foot Mouth  2013     Bangkok        5  132.0
...      ...              ...   ...         ...      ...    ...
11198  43385  Hand Foot Mouth  2023  Narathiwat       37    NaN
11199  43386  Hand Foot Mouth  2023  Narathiwat       38    NaN
11200  43387  Hand Foot Mouth  2023  Narathiwat       39    NaN
11201  43388  Hand Foot Mouth  2023  Narathiwat       40    NaN
11202  43389  Hand Foot Mouth  2023  Narathiwat       41    NaN

[43389 rows x 6 columns]

In [ ]:
combine_df = combine_df.drop(columns=['Disease'])
combine_df

         _id  Year    PROVINCE  Week_no  Count
0          1  2013     Bangkok        1   62.0
1          2  2013     Bangkok        2   95.0
2          3  2013     Bangkok        3   88.0
3          4  2013     Bangkok        4   86.0
4          5  2013     Bangkok        5  132.0
...      ...   ...         ...      ...    ...
11198  43385  2023  Narathiwat       37    NaN
11199  43386  2023  Narathiwat       38    NaN
11200  43387  2023  Narathiwat       39    NaN
11201  43388  2023  Narathiwat       40    NaN
11202  43389  2023  Narathiwat       41    NaN

[43389 rows x 5 columns]

In [ ]:
combine_df = pd.get_dummies(combine_df, columns=['PROVINCE'])
combine_df

,_id,Year,Week_no,Count,PROVINCE_Amnat Charoen,PROVINCE_Ang Thong,PROVINCE_Bangkok,PROVINCE_Bueng Kan,PROVINCE_Buriram,PROVINCE_Chachoengsao,...,PROVINCE_Surin,PROVINCE_Tak,PROVINCE_Trang,PROVINCE_Trat,PROVINCE_Ubon Ratchathani,PROVINCE_Udon Thani,PROVINCE_Uthai Thani,PROVINCE_Uttaradit,PROVINCE_Yala,PROVINCE_Yasothon
0,1,2013,1,62.0,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,2013,2,95.0,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,2013,3,88.0,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,4,2013,4,86.0,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,5,2013,5,132.0,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11198,43385,2023,37,NaN,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11199,43386,2023,38,NaN,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11200,43387,2023,39,NaN,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11201,43388,2023,40,NaN,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11202,43389,2023,41,NaN,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
train_df = combine_df[combine_df['Count'].notna()]
test_df  = combine_df[combine_df['Count'].isna()]

In [ ]:
my_list = list(train_df.columns)
my_list.remove('_id')
my_list.remove('Count')
print(my_list)

['Year', 'Week_no', 'PROVINCE_Amnat Charoen', 'PROVINCE_Ang Thong', 'PROVINCE_Bangkok', 'PROVINCE_Bueng Kan', 'PROVINCE_Buriram', 'PROVINCE_Chachoengsao', 'PROVINCE_Chainat', 'PROVINCE_Chaiyaphum', 'PROVINCE_Chanthaburi', 'PROVINCE_Chiang Mai', 'PROVINCE_Chiang Rai', 'PROVINCE_Chonburi', 'PROVINCE_Chumphon', 'PROVINCE_Kalasin', 'PROVINCE_Kamphaeng Phet', 'PROVINCE_Kanchanaburi', 'PROVINCE_Khon Kaen', 'PROVINCE_Krabi', 'PROVINCE_Lampang', 'PROVINCE_Lamphun', 'PROVINCE_Loei', 'PROVINCE_Lopburi', 'PROVINCE_Mae Hong Son', 'PROVINCE_Maha Sarakham', 'PROVINCE_Mukdahan', 'PROVINCE_Nakhon Nayok', 'PROVINCE_Nakhon Pathom', 'PROVINCE_Nakhon Phanom', 'PROVINCE_Nakhon Ratchasima', 'PROVINCE_Nakhon Sawan', 'PROVINCE_Nakhon Si Thammarat', 'PROVINCE_Nan', 'PROVINCE_Narathiwat', 'PROVINCE_Nong Bua Lamphu', 'PROVINCE_Nong Khai', 'PROVINCE_Nonthaburi', 'PROVINCE_Pathum Thani', 'PROVINCE_Pattani', 'PROVINCE_Phang Nga', 'PROVINCE_Phatthalung', 'PROVINCE_Phayao', 'PROVINCE_Phetchabun', 'PROVINCE_Phetchaburi', 'PROVINCE_Phichit', 'PROVINCE_Phitsanulok', 'PROVINCE_Phra Nakhon Si Ayutthaya', 'PROVINCE_Phrae', 'PROVINCE_Phuket', 'PROVINCE_Prachinburi', 'PROVINCE_Prachuap Khiri Khan', 'PROVINCE_Ranong', 'PROVINCE_Ratchaburi', 'PROVINCE_Rayong', 'PROVINCE_Roi Et', 'PROVINCE_Sa Kaeo', 'PROVINCE_Sakon Nakhon', 'PROVINCE_Samut Prakan', 'PROVINCE_Samut Sakhon', 'PROVINCE_Samut Songkhram', 'PROVINCE_Saraburi', 'PROVINCE_Satun', 'PROVINCE_Sing Buri', 'PROVINCE_Sisaket', 'PROVINCE_Songkhla', 'PROVINCE_Sukhothai', 'PROVINCE_Suphan Buri', 'PROVINCE_Surat Thani', 'PROVINCE_Surin', 'PROVINCE_Tak', 'PROVINCE_Trang', 'PROVINCE_Trat', 'PROVINCE_Ubon Ratchathani', 'PROVINCE_Udon Thani', 'PROVINCE_Uthai Thani', 'PROVINCE_Uttaradit', 'PROVINCE_Yala', 'PROVINCE_Yasothon']

In [ ]:
# Split the dataset
X = train_df[my_list]
y = train_df['Count']

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train

,Year,Week_no,PROVINCE_Amnat Charoen,PROVINCE_Ang Thong,PROVINCE_Bangkok,PROVINCE_Bueng Kan,PROVINCE_Buriram,PROVINCE_Chachoengsao,PROVINCE_Chainat,PROVINCE_Chaiyaphum,...,PROVINCE_Surin,PROVINCE_Tak,PROVINCE_Trang,PROVINCE_Trat,PROVINCE_Ubon Ratchathani,PROVINCE_Udon Thani,PROVINCE_Uthai Thani,PROVINCE_Uttaradit,PROVINCE_Yala,PROVINCE_Yasothon
11194,2015,42,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13235,2016,3,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
32032,2020,3,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21237,2018,24,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1580,2013,44,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29802,2020,9,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5390,2014,10,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
860,2013,13,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15795,2016,15,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23654,2018,49,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
# Combine the training features and target variable into a single DataFrame
train_data = X_train.copy()
train_data['Count'] = y_train

# Combine the validation features and target variable into a single DataFrame for evaluation
val_data = X_val.copy()
val_data['Count'] = y_val

In [ ]:
# # Initialize and train the AutoGluon predictor
# predictor = TabularPredictor(label='Count').fit(train_data)
# # Evaluate the predictor on the validation data
# predictor.leaderboard(val_data)

In [ ]:
# # Initialize and train the AutoGluon predictor with RMSE as the evaluation metric
# predictor = TabularPredictor(label='Count', eval_metric='rmse').fit(train_data)

# # Evaluate the predictor on the validation data
# leaderboard = predictor.leaderboard(val_data, extra_metrics=['rmse'])
# print(leaderboard)

In [ ]:
# # Get predictions from the best model
# y_pred = predictor.predict(X_val)

# # Calculate RMS for the best model
# rms = np.sqrt(mean_squared_error(y_val, y_pred))
# print(f"RMS for the best model: {rms}")

In [ ]:
from autogluon.tabular import TabularPredictor
from sklearn.metrics import mean_squared_error
import numpy as np

# Define a custom RMSE metric
def rmse(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

# Combine the training features and target variable into a single DataFrame
train_data = X_train.copy()
train_data['Count'] = y_train

# Combine the validation features and target variable into a single DataFrame for evaluation
val_data = X_val.copy()
val_data['Count'] = y_val

# Initialize and train the AutoGluon predictor with RMSE as the evaluation metric
predictor = TabularPredictor(label='Count', eval_metric='rmse').fit(train_data)

No path specified. Models will be saved in: "AutogluonModels/ag-20240802_173529"
Verbosity: 2 (Standard Logging)
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.10.12
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #1 SMP PREEMPT_DYNAMIC Thu Jun 27 21:05:47 UTC 2024
CPU Count:          2
Memory Avail:       4.48 GB / 12.67 GB (35.4%)
Disk Space Avail:   40.19 GB / 78.19 GB (51.4%)
===================================================
No presets specified! To achieve strong results with AutoGluon, it is recommended to use the available presets.
	Recommended Presets (For more details refer to https://auto.gluon.ai/stable/tutorials/tabular/tabular-essentials.html#presets):
	presets='best_quality'   : Maximize accuracy. Default time_limit=3600.
	presets='high_quality'   : Strong accuracy with fast inference speed. Default time_limit=3600.
	presets='good_quality'   : Good accuracy with very fast inference speed. Default time_limit=3600.
	presets='medium_quality' : Fast training time, ideal for initial prototyping.
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels/ag-20240802_173529"
Train Data Rows:    25748
Train Data Columns: 79
Label Column:       Count
AutoGluon infers your prediction problem is: 'multiclass' (because dtype of label-column == float, but few unique label-values observed and label-values can be converted to int).
	First 10 (of 273) unique label values:  [5.0, 28.0, 1.0, 45.0, 10.0, 2.0, 3.0, 8.0, 16.0, 17.0]
	If 'multiclass' is not the correct problem_type, please manually specify the problem_type parameter during Predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression', 'quantile'])
Problem Type:       multiclass
Preprocessing data ...
Warning: Some classes in the training set have fewer than 10 examples. AutoGluon will only keep 98 out of 273 classes for training and will not try to predict the rare classes. To keep more classes, increase the number of datapoints from these rare classes in the training data or reduce label_count_threshold.
Fraction of data from classes with at least 10 examples that will be kept for training models: 0.9834938636010564
Train Data Class Count: 98
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    4592.47 MB
	Train Data (Original)  Memory Usage: 2.25 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 77 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('bool', []) : 77 | ['PROVINCE_Amnat Charoen', 'PROVINCE_Ang Thong', 'PROVINCE_Bangkok', 'PROVINCE_Bueng Kan', 'PROVINCE_Buriram', ...]
		('int', [])  :  2 | ['Year', 'Week_no']
	Types of features in processed data (raw dtype, special dtypes):
		('int', [])       :  2 | ['Year', 'Week_no']
		('int', ['bool']) : 77 | ['PROVINCE_Amnat Charoen', 'PROVINCE_Ang Thong', 'PROVINCE_Bangkok', 'PROVINCE_Bueng Kan', 'PROVINCE_Buriram', ...]
	1.0s = Fit runtime
	79 features in original data used to generate 79 features in processed data.
	Train Data (Processed) Memory Usage: 2.25 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 1.1s ...
AutoGluon will gauge predictive performance using evaluation metric: 'root_mean_squared_error'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.09709491999378593, Train Rows: 22864, Val Rows: 2459
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ...
	-16.8872	 = Validation score   (-root_mean_squared_error)
	0.04s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: KNeighborsDist ...
	-16.8872	 = Validation score   (-root_mean_squared_error)
	0.04s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
	Warning: Exception caused NeuralNetFastAI to fail during training... Skipping this model.
		Exception occured in `Recorder` when calling event `after_batch`:
	==:
25088
256
Detailed Traceback:
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/autogluon/core/trainer/abstract_trainer.py", line 1904, in _train_and_save
    model = self._train_single(X, y, model, X_val, y_val, total_resources=total_resources, **model_fit_kwargs)
  File "/usr/local/lib/python3.10/dist-packages/autogluon/core/trainer/abstract_trainer.py", line 1844, in _train_single
    model = model.fit(X=X, y=y, X_val=X_val, y_val=y_val, total_resources=total_resources, **model_fit_kwargs)
  File "/usr/local/lib/python3.10/dist-packages/autogluon/core/models/abstract/abstract_model.py", line 856, in fit
    out = self._fit(**kwargs)
  File "/usr/local/lib/python3.10/dist-packages/autogluon/tabular/models/fastainn/tabular_nn_fastai.py", line 359, in _fit
    self.model.fit_one_cycle(epochs, params["lr"], cbs=callbacks)
  File "/usr/local/lib/python3.10/dist-packages/fastai/callback/schedule.py", line 119, in fit_one_cycle
    self.fit(n_epoch, cbs=ParamScheduler(scheds)+L(cbs), reset_opt=reset_opt, wd=wd, start_epoch=start_epoch)
  File "/usr/local/lib/python3.10/dist-packages/fastai/learner.py", line 264, in fit
    self._with_events(self._do_fit, 'fit', CancelFitException, self._end_cleanup)
  File "/usr/local/lib/python3.10/dist-packages/fastai/learner.py", line 199, in _with_events
    try: self(f'before_{event_type}');  f()
  File "/usr/local/lib/python3.10/dist-packages/fastai/learner.py", line 253, in _do_fit
    self._with_events(self._do_epoch, 'epoch', CancelEpochException)
  File "/usr/local/lib/python3.10/dist-packages/fastai/learner.py", line 199, in _with_events
    try: self(f'before_{event_type}');  f()
  File "/usr/local/lib/python3.10/dist-packages/fastai/learner.py", line 248, in _do_epoch
    self._do_epoch_validate()
  File "/usr/local/lib/python3.10/dist-packages/fastai/learner.py", line 244, in _do_epoch_validate
    with torch.no_grad(): self._with_events(self.all_batches, 'validate', CancelValidException)
  File "/usr/local/lib/python3.10/dist-packages/fastai/learner.py", line 199, in _with_events
    try: self(f'before_{event_type}');  f()
  File "/usr/local/lib/python3.10/dist-packages/fastai/learner.py", line 205, in all_batches
    for o in enumerate(self.dl): self.one_batch(*o)
  File "/usr/local/lib/python3.10/dist-packages/fastai/learner.py", line 235, in one_batch
    self._with_events(self._do_one_batch, 'batch', CancelBatchException)
  File "/usr/local/lib/python3.10/dist-packages/fastai/learner.py", line 201, in _with_events
    self(f'after_{event_type}');  final()
  File "/usr/local/lib/python3.10/dist-packages/fastai/learner.py", line 172, in __call__
    def __call__(self, event_name): L(event_name).map(self._call_one)
  File "/usr/local/lib/python3.10/dist-packages/fastcore/foundation.py", line 157, in map
    def map(self, f, *args, **kwargs): return self._new(map_ex(self, f, *args, gen=False, **kwargs))
  File "/usr/local/lib/python3.10/dist-packages/fastcore/basics.py", line 879, in map_ex
    return list(res)
  File "/usr/local/lib/python3.10/dist-packages/fastcore/basics.py", line 864, in __call__
    return self.func(*fargs, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/fastai/learner.py", line 176, in _call_one
    for cb in self.cbs.sorted('order'): cb(event_name)
  File "/usr/local/lib/python3.10/dist-packages/fastai/callback/core.py", line 62, in __call__
    except Exception as e: raise modify_exception(e, f'Exception occured in `{self.__class__.__name__}` when calling event `{event_name}`:\n\t{e.args[0]}', replace=True)
  File "/usr/local/lib/python3.10/dist-packages/fastai/callback/core.py", line 60, in __call__
    try: res = getcallable(self, event_name)()
  File "/usr/local/lib/python3.10/dist-packages/fastai/learner.py", line 560, in after_batch
    for met in mets: met.accumulate(self.learn)
  File "/usr/local/lib/python3.10/dist-packages/fastai/metrics.py", line 49, in accumulate
    self.accum_values(pred,learn.y,learn)
  File "/usr/local/lib/python3.10/dist-packages/fastai/metrics.py", line 55, in accum_values
    if self.flatten: preds,targs = flatten_check(preds,targs)
  File "/usr/local/lib/python3.10/dist-packages/fastai/torch_core.py", line 787, in flatten_check
    test_eq(len(inp), len(targ))
  File "/usr/local/lib/python3.10/dist-packages/fastcore/test.py", line 37, in test_eq
    test(a,b,equals, cname='==')
  File "/usr/local/lib/python3.10/dist-packages/fastcore/test.py", line 27, in test
    assert cmp(a,b),f"{cname}:\n{a}\n{b}"
AssertionError: Exception occured in `Recorder` when calling event `after_batch`:
	==:
25088
256
Fitting model: LightGBMXT ...
	-13.03	 = Validation score   (-root_mean_squared_error)
	34.18s	 = Training   runtime
	1.12s	 = Validation runtime
Fitting model: LightGBM ...
	-11.4436	 = Validation score   (-root_mean_squared_error)
	32.52s	 = Training   runtime
	1.9s	 = Validation runtime
Fitting model: RandomForestGini ...
	Warning: Model is expected to require 135.82% of available memory...
	Not enough memory to train RandomForestGini... Skipping this model.
Fitting model: RandomForestEntr ...
	Warning: Model is expected to require 139.15% of available memory...
	Not enough memory to train RandomForestEntr... Skipping this model.
Fitting model: CatBoost ...
	Warning: Exception caused CatBoost to fail during training (ImportError)... Skipping this model.

Fitting model: ExtraTreesGini ...
	Warning: Model is expected to require 142.4% of available memory...
	Not enough memory to train ExtraTreesGini... Skipping this model.
Fitting model: ExtraTreesEntr ...
	Warning: Model is expected to require 143.14% of available memory...
	Not enough memory to train ExtraTreesEntr... Skipping this model.
Fitting model: XGBoost ...
	-11.2729	 = Validation score   (-root_mean_squared_error)
	147.03s	 = Training   runtime
	21.38s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	-7.7505	 = Validation score   (-root_mean_squared_error)
	439.37s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: LightGBMLarge ...
	-15.8736	 = Validation score   (-root_mean_squared_error)
	53.79s	 = Training   runtime
	6.92s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	Ensemble Weights: {'NeuralNetTorch': 1.0}
	-7.7505	 = Validation score   (-root_mean_squared_error)
	0.38s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 752.88s ... Best model: WeightedEnsemble_L2 | Estimated inference throughput: 106243.4 rows/s (2459 batch size)
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels/ag-20240802_173529")

In [ ]:
# Evaluate the predictor on the validation data
leaderboard = predictor.leaderboard(val_data, extra_metrics=['rmse'])
leaderboard

ValueError: leaderboard_metric='rmse' is not a valid metric for problem_type='multiclass'. Valid problem_types for this metric: ['regression']

In [ ]:
import torch
print("GPU available:", torch.cuda.is_available())

GPU available: True

In [ ]:
!pip install autogluon --upgrade

In [ ]:
from autogluon.tabular import TabularPredictor
from sklearn.metrics import mean_squared_error
import numpy as np

# Define a custom RMSE metric
def rmse(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

# Combine the training features and target variable into a single DataFrame
train_data = X_train.copy()
train_data['Count'] = y_train

# Combine the validation features and target variable into a single DataFrame for evaluation
val_data = X_val.copy()
val_data['Count'] = y_val

# Initialize and train the AutoGluon predictor with RMSE as the evaluation metric
predictor = TabularPredictor(label='Count', problem_type='regression', eval_metric='rmse').fit(train_data)

# Evaluate the predictor on the validation data
leaderboard = predictor.leaderboard(val_data, extra_metrics=['rmse'])
leaderboard

,model,score_test,root_mean_squared_error,score_val,eval_metric,pred_time_test,pred_time_val,fit_time,pred_time_test_marginal,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,WeightedEnsemble_L2,-8.844660,-8.844660,-7.483668,root_mean_squared_error,19.089213,7.314344,339.483315,0.014983,0.000461,0.019472,2,True,12
1,LightGBMLarge,-8.998549,-8.998549,-7.993167,root_mean_squared_error,11.335145,3.798980,23.890440,11.335145,3.798980,23.890440,1,True,11
2,RandomForestMSE,-9.511456,-9.511456,-8.147144,root_mean_squared_error,1.061579,0.399450,83.319999,1.061579,0.399450,83.319999,1,True,5
3,XGBoost,-9.566586,-9.566586,-8.160736,root_mean_squared_error,6.644529,3.096357,59.971166,6.644529,3.096357,59.971166,1,True,9
4,CatBoost,-9.767190,-9.767190,-8.700313,root_mean_squared_error,0.080631,0.023514,90.530163,0.080631,0.023514,90.530163,1,True,6
5,ExtraTreesMSE,-10.264752,-10.264752,-9.078148,root_mean_squared_error,1.018950,0.450404,64.686282,1.018950,0.450404,64.686282,1,True,7
6,LightGBM,-10.346652,-10.346652,-9.471190,root_mean_squared_error,5.721002,2.185985,17.503695,5.721002,2.185985,17.503695,1,True,4
7,NeuralNetTorch,-11.062998,-11.062998,-9.058161,root_mean_squared_error,0.032978,0.019096,172.282237,0.032978,0.019096,172.282237,1,True,10
8,NeuralNetFastAI,-16.275973,-16.275973,-13.621537,root_mean_squared_error,0.094826,0.036505,25.659459,0.094826,0.036505,25.659459,1,True,8
9,LightGBMXT,-17.007517,-17.007517,-15.638942,root_mean_squared_error,0.846920,0.457730,6.540893,0.846920,0.457730,6.540893,1,True,3
10,KNeighborsDist,-32.276336,-32.276336,-30.044074,root_mean_squared_error,0.025021,0.013222,0.017499,0.025021,0.013222,0.017499,1,True,2
11,KNeighborsUnif,-32.276336,-32.276336,-30.044074,root_mean_squared_error,0.035313,0.013646,0.026618,0.035313,0.013646,0.026618,1,True,1

In [ ]:
# Get predictions from the best model
y_pred = predictor.predict(X_val)

# Calculate and print the RMSE
rmse_value = rmse(y_val, y_pred)
print(f"RMSE: {rmse_value}")

RMSE: 8.844660006361613

In [ ]:
predictor.predict(test_df[test_df['_id']==32191].drop(columns=['_id','Count']))

4    53.429794
Name: Count, dtype: float32

In [ ]:
df = pd.read_csv("/content/sample_submission.csv")
df

         _id  Pred
0      32187  32.0
1      32188  13.0
2      32189  17.0
3      32190   NaN
4      32191   NaN
...      ...   ...
11198  43385   NaN
11199  43386   NaN
11200  43387   NaN
11201  43388   NaN
11202  43389   NaN

[11203 rows x 2 columns]

In [75]:
df = pd.read_csv("/content/sample_submission.csv")
for idx,row in df[3:].iterrows():
    data = test_df[test_df['_id']==row['_id']].drop(columns=['_id','Count'])
    result = predictor.predict(data)
    df.at[idx,'Pred'] = result

<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result
<ipython-input-75-eef3a3050055>:5: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.at[idx,'Pred'] = result

KeyboardInterrupt:

In [ ]:
df

In [ ]:
version = '1.0.1'
formatted_time = time.strftime("%H.%M", time.localtime())
formatted_time = str(int(formatted_time.split(".")[0])+7)+formatted_time.split(".")[1]
formatted_time
csv_name = f'v.{version}.{formatted_time}.csv'
print(csv_name)
df.to_csv(csv_name,index=False)